body {
  margin: 0;
}
#navBar {
  display: flex;
}
h1 {
  color: rgb(40, 9, 75);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
}
.output {
  font-weight: 700;
}
.nameSpaces {
  display: flex;
  height: 130px;
  width: 500px;
  border: 2px rebeccapurple solid;
}
